{% extends 'base.html' %}
{% load static %}

{% block content %}

 <div class="container article-content-inner">
            <div class="row">
                <div class="col-sm-12">
                    <div class="article-header">
                        <header>
                            <div id="adv_text" class="adv-heading"></div>
                            <h1>{{ article.title }}</h1>
                            <!--<h2>You won't believe the specs on these new all-electric vehicles. </h2>-->
                        </header>
                    </div>
                </div>
            </div>
            <div class="row">
                <main class="col-sm-7 col-md-8">
                    <div class="author-tagline author-inline">
                        <div class="author-and-date">
                            <div class="author-byline">
                                <div class="author-name"> {{ article.author_name.name }}</div>
                                <div class="author-username">
                                    <!--(<a href="#">TMFDanielSparks</a>)-->
                                </div>
                            </div>
                            <div class="article-pub-date">
                                <div class="publication-date">
                                    {{ article.created_at }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="article-body">
                        <div class="article-content">
                            <!-- Article text-->
                            {{ article.text | safe }}

                            <!-- Pitch Text -->
                            <div id="pitch">
                                {{ article.pitch | safe }}
                            </div>
                        </div>

                        <!-- Disclosure Text -->
                        <div class="article-disclosure">
                            {{ article.disclosure | safe }}
                        </div>
                    </section>
                    <section class="comment-section">
                        <div id="comment-form">
                            {% if comments.id %}
                              <h2>Your comment has been added.</h2>
                            {% else %}
                            <h2>Add a new comment</h2>
                           <form method="post">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <button class="btn" type="submit">Add Comment</button>
                            </form>
                           {% endif %}
                        </div>

                         <div class="comment-count">
                             {% with comments.count as total_comments %}
                                  <h2>
                                    {{ total_comments }} comment{{ total_comments|pluralize }}
                                  </h2>
                             {% endwith %}
                        </div>

                        <div class="comments">
                            {% for comments in comments %}
                                 <p class="info">
                                    Comment {{ forloop.counter }} {{ comments.created_at }}
                                    </br>
                                    {{ comments.comment }}
                                </p> 
                                {% empty %}
                                <p>There are no comments yet.</p>
                            {% endfor %}
                        </div>
                    </section>
                </main>
                <aside class="col-sm-5 col-md-4 p-l">
                    <section class="related-tickers">
                        <div class="block-title">
                            <hr><h2>Stocks</h2>
                        </div>
                        <div class="ticker-row">
                            {% for stockQuotes in stockQuotes %}
                            <div>
                                <!-- <span class="image-wrap">
                                    <a href="#">
                                        <img src="{% static 'images/related-1.png' %}" class="img-responsive" alt="">
                                    </a>
                                </span> -->
                                <h3>{{ stockQuotes.CompanyName }}</h3>
                                <h4>
                                    <span class="ticker">
                                        <a title="Stock Quote" href="#">
                                            NASDAQ:<span class="symbol">{{ stockQuotes.Symbol }}</span>
                                        </a>
                                    </span>
                                </h4>
                                <aside class="price-quote-container">
                                    <h4 class="current-price">
                                        {{ stockQuotes.CurrentPrice }}
                                    </h4>
                                    <h4 class="price-change-amount price-neg">
                                        {{ stockQuotes.Change }}
                                    </h4>
                                    <h4 class="price-change-percent price-neg">
                                        ({{ stockQuotes.PercentChange }})
                                    </h4>
                                </aside>
                            </div>
                            {% endfor %}
                        </div>
                         <button class="btn" id="shuffle">Shuffle</button>
                    </section>
                    <section class="read-more-section">
                        <div class="block-title">
                            <hr><h2>Read More</h2>
                        </div>
                        <ul class="two-line-list">
                            <li><a href="#">It is a long established fact that a reader</a></li>
                            <li><a href="#">Many desktop publishing packages and web page editors now use</a></li>
                            <li><a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a></li>
                            <li><a href="#">There are many variations of passa</a></li>
                            <li><a href="#" >If you are going to use a passage of Lorem Ipsum</a></li>
                        </ul>
                    </section>
                </aside>
            </div>
        </div>

{% endblock %}