{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="container content-inner">
            <div class="main-col">
                <section class="jumbo-card card">
                    <div class="card-image">
                        <a href=""><img src="{% static 'images/card.jpg' %}" alt="" class="img-responsive"></a>
                    </div>
                   {% for firstPromiseArticle in firstPromiseArticle %} 
                        <div class="card-elements">
                            <div class="card-header">
                                <a href="{% url 'article' firstPromiseArticle.id %}"><h3>{{ firstPromiseArticle.title }}</h3></a>
                                <p class="author"> {{ firstPromiseArticle.author_name.name }} | {{ firstPromiseArticle.created_at }} </p>
                            </div>
                            <div class="card-copy">
                            <p>{{ firstPromiseArticle.promo }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    
                </section>
            </div>
            <div class="cards row">
                {% for articleData in articleData %}
                <div class="card">
                    <div class="card-image">
                        <a href="">
                            <img src="{% static 'images/card-1.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="card-elements">
                        <div class="card-header">
                            <a href="{% url 'article' articleData.id %}">
                                <h4> {{ articleData.title }}</h4>
                            </a>
                            <p class="author"> {{ articleData.author_name.name }} | {{ articleData.created_at }}  </p>
                        </div>
                        <div class="card-copy">
                            <p> {{ articleData.promo }} </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> 
        </div>
{% endblock %}








