{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container top-bar">
            <a href="{% url 'home' %}" class="btn btn-primary">HOME</a>
        </div>
        <div class="container content-inner">
            <div class="main-col">
                <section class="jumbo-card card">
                    <div class="card-image">
                        <a href=""><img src="{% static 'images/card.jpg' %}" alt="" class="img-responsive"></a>
                    </div>
                   
                    <div class="card-elements">
                        <div class="card-header">
                            <a href=""><h3> </h3></a>
                            <p class="author"> |  </p>
                        </div>
                        <div class="card-copy">
                            
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        </div>
                    </div>
                    
                </section>
            </div>
            <div class="cards row">
                <div class="card">
                    <div class="card-image">
                        <a href="">
                            <img src="{% static 'images/card-1.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="card-elements">
                        <div class="card-header">
                            <a href="">
                                <h4></h4>
                            </a>
                            <p class="author"> |  </p>
                        </div>
                        <div class="card-copy">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
{% endblock %}








